<%= form_for(sake) do |f| %>
  <% if sake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sake.errors.count, "error") %> prohibited this sake from being saved:</h2>

      <ul>
      <% sake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefecture %>
    <%= f.text_field :prefecture %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :item %>
    <%= f.text_field :item %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
